.container {
  height: 100vh;
}

body, html {
  margin: 0;
  background: white;
  height: 100%;
  font-family: "Inter", sans-serif;
  color: white;
}

h1 {
  margin: 0;
}

.--button {
  border-style: none;
  background: #4F9CF9;
  border-radius: 8px;
}

.header {
  align-self: stretch;
  background: #043873;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo-img {
  margin: 1rem;
}
.header__logo-text {
  font-size: 1.4rem;
}
.header__content {
  margin-left: 1rem;
  margin-right: 1.5rem;
  height: 2.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__burger-span {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__span {
  display: block;
  width: 3.8rem;
  height: 4px;
  background: white;
  border-radius: 10px;
}
.header__burger-pc-buttons {
  display: none;
  align-self: center;
  margin-right: 1.5rem;
}
.header__buttons-low {
  font-size: 1.6rem;
  background: rgba(255, 255, 255, 0);
  margin-left: 2rem;
  border: none;
  color: white;
}
.header__button-login {
  font-size: 1.6rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 8px;
  margin-right: 1rem;
  margin-left: 2rem;
  background: #FFE492;
  border-style: none;
  color: #043873;
  transition: 0.6s;
}
.header__button-login:hover {
  background: #4F9CF9;
  border-color: #4F9CF9;
}
.header__button-trial {
  font-size: 1.6rem;
  padding: 1rem 2rem 1rem 2rem;
  border-radius: 8px;
  background: #4F9CF9;
  border-style: none;
  color: white;
  transition: 0.6s;
}
.header__button-trial:hover {
  background: #FFE492;
}
.header__burger-open {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: -100vw;
  top: 0px;
  min-width: 100%;
  background: #043873;
  width: 20vw;
  height: 35vh;
  transition: 0.8s;
  transition-timing-function: cubic-beizer(0.17, 0.67, 0.83, 0.67);
}
.header__burger-animation {
  right: 0;
}

.--button {
  border-style: none;
  background: #4F9CF9;
  border-radius: 8px;
}

.main {
  background: #043873;
  width: 100%;
  height: 90%;
  margin: 0;
  display: grid;
  grid-template-rows: 1.4fr 1fr;
}
.main__text-mainFirst {
  font-size: 2.8rem;
  text-align: center;
  width: 90%;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.main__text-mainSecond {
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.3px;
  width: 80%;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  font-weight: 300;
}
.main__button-main {
  width: 16rem;
  height: 50%;
  max-height: 5.2rem;
  border-radius: 10px;
  display: block;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 3rem;
  background: #4F9CF9;
  border-style: none;
  font-size: 1.3rem;
  color: white;
  padding: 1rem;
  transition: 0.8s;
  border: 5px #043873 solid;
}
.main__button-main:hover {
  background: #043873;
  border-color: #FFE492;
}
.main__btn-txt {
  padding-top: 8%;
}
.main__div-img {
  width: 80%;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}
.main__img-main {
  height: 25vh;
  background: #C4DEFD;
}

.--button {
  border-style: none;
  background: #4F9CF9;
  border-radius: 8px;
}

.main-second {
  color: black;
  background: white;
}
.main-second__firstText {
  color: #212529;
  font-size: 3rem;
  width: 70%;
  text-align: center;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3.5rem;
}
.main-second__secondText {
  color: #212529;
  text-align: center;
  font-weight: 400;
  font-size: 2rem;
  width: 94%;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
}
.main-second__btn-getStarted {
  padding: 1.5rem;
  width: 13rem;
  border-radius: 8px;
  display: block;
  margin-top: 3.5rem;
  margin-bottom: 4.5rem;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}
.main-second__img-one {
  background: #C4DEFD;
  width: 90%;
  height: 40rem;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
}
.main-second__img-two {
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 80%;
  padding-bottom: 4.2rem;
}

.--button {
  border-style: none;
  background: #4F9CF9;
  border-radius: 8px;
}

.price {
  padding-top: 4rem;
}
.price__text {
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: #212529;
  text-align: center;
}
.price__title {
  font-size: 3rem;
}
.price__description {
  font-weight: 400;
}
.price__list {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
  gap: 2rem;
  transition: 2s;
}
.price__list-free {
  height: 30rem;
  transition: 1s;
  order: 0;
}
.price__list-organization {
  height: 35rem;
  width: 100%;
  background: #043873;
  border-radius: 10px;
  color: white;
  transition: 1s;
  order: 1;
}
.price__list-personal {
  display: block;
  height: 30rem;
  width: 30%;
  transition: 1s;
  order: 2;
}
.price__list--aside {
  width: 100%;
  background: #FFFFFF;
  border: 1px solid #FFE492;
  border-radius: 10px;
}
.price__content-title {
  font-size: 1.4rem;
  font-weight: 500;
}
.price__content {
  margin-top: 2rem;
  margin-left: 1rem;
  text-align: left;
  font-size: 0.7rem;
}
.price__benefits {
  display: flex;
  flex-direction: column;
  height: 80%;
}
.price__benefits-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60%;
  list-style: url("../imgs/vector/list-grey.svg");
  font-weight: 400;
  font-size: 0.8rem;
  text-align: left;
}
.price__content-price {
  font-size: 1.5rem;
}
.price__content-description {
  font-size: 0.9rem;
  font-weight: 500;
}
.price__benefits-getStarted {
  margin: 0.6rem 0 0 1rem;
  padding: 0.7rem 0 0.7rem 0;
  width: 7rem;
  background: white;
}
.price__selector {
  margin: 2rem 0;
}
.price__firstColumn {
  padding: 0.8rem;
}
.price__secondColumn {
  padding: 0.8rem;
}
.price__thirdColumn {
  padding: 0.8rem;
}
.price__benefits-list--organization-list {
  list-style: url("../imgs/vector/list-yellow.svg");
}
.price__benefits-getStarted--aside {
  background: white;
  border: 1px solid #FFE492;
}
.price__benefits-getStarted--main {
  background: #4F9CF9;
  color: white;
}
.price__content-price--yellow {
  color: #FFE492;
}

.--button {
  border-style: none;
  background: #4F9CF9;
  border-radius: 8px;
}

.footer {
  margin-top: 4rem;
  background: #043873;
  font-size: 1rem;
}
.footer__top-info {
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
  width: 95%;
  display: flex;
  justify-content: center;
  justify-items: center;
  display: none;
}
.footer__content {
  width: 20%;
  margin: 0 4rem;
}
.footer__content--title {
  font-size: 1rem;
  font-weight: 600;
}
.footer__content--title-logo {
  font-size: 1.6rem;
}
.footer__content-content {
  width: 90%;
  font-size: 0.8rem;
  font-weight: 300;
}
.footer__description {
  margin-left: 1rem;
  line-height: 1.5rem;
}
.footer__bottom-right {
  display: flex;
  padding: 0 0 0 0;
  margin-left: auto;
  margin-right: auto;
  padding: 2rem 0;
  width: 20%;
  justify-content: space-around;
}
.footer__bottom-left {
  width: 100%;
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.1rem;
  font-weight: 300;
}
.footer__bottom-year {
  margin-bottom: 0;
}

@media only screen and (min-width: 200px) and (min-height: 300px) {
  .container {
    max-width: 100vw;
    height: fit-content;
    overflow: hidden;
  }
  .main__div-img {
    display: none;
  }
  .price__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
  }
}
@media only screen and (min-height: 640px) {
  .main__div-img {
    display: block;
    height: 70%;
  }
  .main__text-mainFirst {
    font-size: 2.2rem;
  }
  .main__button-main {
    height: 4.2rem;
  }
  .main__img-main {
    height: 100%;
  }
  .main__btn-txt {
    margin-top: 1.5rem;
  }
  .main-second__secondText {
    font-size: 1.5rem;
  }
  .main-second__img-one {
    height: 15rem;
  }
  .price__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .price__list-free {
    width: 15rem;
    padding-bottom: 2rem;
  }
  .price__list-organization {
    width: 20rem;
  }
  .price__list-personal {
    width: 15rem;
  }
  .price__list-personal {
    padding-bottom: 2rem;
  }
}
@media only screen and (min-width: 375px) and (min-height: 752px) {
  .main {
    grid-template-rows: 1fr 1fr;
  }
  .main__div-img {
    height: 85%;
  }
}
@media only screen and (min-width: 768px) and (min-height: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .main {
    padding-top: 2rem;
  }
  .main__text-mainFirst {
    font-size: 3.5rem;
  }
  .main__text-mainSecond {
    width: 95%;
  }
  .main__button-main {
    margin-top: 4rem;
  }
  .price__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-self: center;
  }
  .price__list-free {
    display: block;
  }
  .price__list-personal {
    display: block;
  }
  .price__list-organization {
    display: block;
  }
  .price__description {
    width: 70%;
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
  }
  .price__text {
    width: fit-content;
  }
  .price__list {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .footer__top-info {
    display: none;
  }
  .footer__bottom-left {
    width: 100vw;
  }
}
@media only screen and (min-width: 1360px) and (min-height: 663px) {
  .header {
    padding-top: 1rem;
  }
  .header__burger-Firstbuttons-pc {
    display: block;
  }
  .header__burger-secondButtons-pc {
    display: none;
  }
  .header__burger-pc-buttons {
    display: block;
  }
  .main {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }
  .main__btn-txt {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    padding-bottom: 7rem;
    margin-left: 3.3rem;
    padding-top: 20%;
  }
  .main__div-img {
    height: 55%;
  }
  .main__text-mainFirst {
    font-size: 4rem;
    margin: 0;
    text-align: left;
  }
  .main__text-mainSecond {
    text-align: left;
    font-size: 1.4rem;
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 5rem;
  }
  .main__button-main {
    margin: 0;
  }
  .main__button-main {
    width: 40%;
  }
  .main-second__firstText {
    font-size: 4.5rem;
    margin-top: 0;
  }
  .main-second__img-one {
    width: 73%;
    height: 28rem;
    align-self: center;
  }
  .main-second {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .main-second--left {
    text-align: left;
    margin: 0;
  }
  .main-second__texts {
    margin-left: 3.3rem;
    display: flex;
    flex-direction: column;
    height: 30rem;
    justify-content: space-between;
    align-self: center;
    margin-bottom: 4rem;
  }
  .main-second--first {
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;
  }
  .main-second__texts--first {
    order: 2;
  }
  .price__list-free {
    display: block;
  }
  .price__list-personal {
    display: block;
  }
  .price__list-organization {
    display: block;
  }
  .price__list {
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }
  .price__selector {
    display: none;
  }
  .footer__top-info {
    display: flex;
  }
  .footer__bottom-info {
    padding: 0 0 0 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 95%;
  }
  .footer__bottom-left {
    margin-left: 4rem;
    flex-direction: row;
    align-items: baseline;
  }
  .footer__bottom-left-content {
    padding: 0 1rem;
  }
}
@media only screen and (min-width: 1920px) {
  .header {
    padding-top: 1.2rem !important;
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .header__burger-span {
    display: none;
  }
  .header__burger-secondButtons-pc {
    display: block;
  }
  .header__burger-pc-buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .main {
    grid-template-columns: 1fr 1.6fr;
    grid-template-rows: 1fr;
    width: 90%;
    padding: 0 5% 0 5%;
  }
  .main__btn-txt {
    height: 75%;
    justify-content: center;
    padding-bottom: 20rem;
    padding-top: 0;
  }
  .main__text-mainFirst {
    font-size: 4.7rem;
    width: 100%;
  }
  .main__text-mainSecond {
    font-size: 2rem;
  }
  .main__div-img {
    height: 70%;
    width: 85%;
  }
  .main-second__firstText {
    font-size: 4rem;
  }
  .main-second__secondText {
    font-size: 2rem;
    width: 90%;
  }
  .footer__top-info {
    width: 80%;
  }
  .footer__bottom-info {
    width: 80%;
  }
}
.--price__list-move-left {
  transform: translateX(35vw);
}

.--price__list-move-right {
  transform: translateX(-35vw);
}

.--price__list-move-left-ph {
  transform: translateX(75vw);
}

.--price__list-move-right-ph {
  transform: translateX(-75vw);
}

.--listArea-phone {
  grid-template-columns: 1fr 1fr 1fr;
}

/*# sourceMappingURL=main.css.map */
